
body{
    margin: 0px;
}

#cart_container{
width: 100%;
height:auto;
display: inline-flex;
justify-content: center;
}

#cart_product:first-child{
    border-bottom: 0.5px solid #3d4246d3;
    margin-right: 10px;
    height: fit-content;
    width: 50%;
}

#cart_product:last-child{
    padding: 20px;
    width: 15%;
    height: fit-content;
    display: block;
    font-size: 14px;
}

#Subtotal{
    display: flex;
    justify-content: space-between;
}
#big_Input{
    margin-bottom: 10px;
height: 80px;
width: 95%;
}

#cart_product>button{
    background-color: #1e2420;
    color: #f0f4f8;
    height:40px;
    width: 100%;
}

#Subtotal:nth-child(3){
margin-top: -20px;
border-bottom: 0.5px solid #3d4246;
}


#cart_product{
    padding:2px;
    color: #3d4246;
    line-height: 23px;
    display: inline-flex;
    height: 500px;
    width: 20%;
    }
#cart_product>img{
    height: 110px;
    width: 110px;
margin-right: 30px;
}

#productTitleQty > button{
    margin-top: 20px;
    border-radius: 0px;
    height: 30px;
    width: 30px;
    background-color: #f0f4f8;
    border: none;
}


#productTitleQty{
    width:75%;
}


#productPrice{
    text-align: right;
    width: 25%;
    display: inline-block;
}
#productPrice>p:first-child{
font-size: 20px;
margin: 0px;
}

#productPrice>p:nth-child(2){
    color: #3d4246d3;
    text-decoration: line-through;
}


#MUST_HAVES{
    width: 100%;
    display: inline-flex;
    background-color: #3d4246;
}
#HAVE_MUST_BOX{
    border: 2px solid red;
}