/* Layout: */
.show_product_media {
    padding: 1em;
  margin: 0 2px 2px 0;
  background: #b3e888;
  flex: 1;  
}  

.show_product_details {
    padding: 1em;
  margin: 0 2px 2px 0;
  background: #b3e888;
  flex: 1;  
}

/* Responsive: */

@media only screen and (min-width: 640px) {
  .show_product_container {
    display: flex;
  }
}

.show_product_container {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto;
}













* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

html {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor:pointer;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

