.slider-box{
    width:100%;
    height:500px;
    margin:20px auto;
    position:relative;
    overflow: hidden;
}
#slider{
    
    display:inline-flex;
    transform: 0.7s;
    width: 100%;
    animation: slide 16s infinite;
}

#slider img{
    width:100%;
    
}
.indicators{
    position:absolute;
    left:50%;
    bottom:45px;
    transform:translateX(-50%);
    
    
}
.indicators span{
    display:inline-block;
    width:5px;
    height:5px;
    border-radius: 50%;
    background: #26191d;
    cursor:pointer;
    margin-left: 20px;
   
}
.active{
    background-color: aliceblue !important;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
/* this is whole part of the black div this is very beautiful  */
#All_Black_Div_iteam {
    height: 320px;
    width: 350px;
    border:1px solid black;
}
#All_Black_Div{
    display: flex;
    width:100%;
    border:1px solid black;
    justify-content: space-around;
    background-color: rgb(5, 5, 5);
    margin: 40px 0px 20px 0px;
}

#All_Black_Div>#All_Black_Div_iteam>p:first-child {
    margin-top: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.4px;
    color:white;
    font-family: "Avenir Next",sans-serif;
}

#All_Black_Div>#All_Black_Div_iteam>video {
    width: 38vh;
    height: 30vh;
    object-fit: cover;
    transition: transform 0.2s;
}

#All_Black_Div>#All_Black_Div_iteam>p:nth-child(2) {
    font-style: normal;
    letter-spacing: 0.4px;
    font-weight: 400;
    font-size: 1.77vw;
    line-height: 2.448vw;
    color:rgb(253, 249, 249);
    font-family: "Avenir Next",sans-serif;
    margin-top: 13px;
}
#All_Black_Div>#All_Black_Div_iteam>p:nth-child(1){
    font-family: "Avenir Next",sans-serif;
   
}

#All_Black_Div>#All_Black_Div_iteam>button {
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
    border: none;
    font-family: Helvetica,Arial,"sans-serif";
    padding: 0.75vw 4.1145vw;
    padding-top: 0.75vw;
    padding-right: 4.1145vw;
    padding-bottom: 0.75vw;
    padding-left: 4.1145vw;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    font-size: 0.83vw;
    line-height: 1.9719vw;
    letter-spacing: -0.25px;
    margin-top:14px;
}


